/*główna nawigacja na stronie*/

.menu-icon {
    margin-right: 10px;
    fill: currentColor;
}
.menu-icon:hover {
    fill:var(#2196F3);
}
.lorem-ipsum-icons {
    margin: 25px 100px;
}
.icon-background {
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.social-links-icons-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin:0px 32px 30px 32px;
}
.social-links-icons:hover {
    fill:var(#2196F3);
}
.our-clients {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    gap: 30px;
    padding: 0;
    margin: 0 auto;
    width: 1170px;
}
.our-client {
    width: 170px;
	height: 92px;
	border: 1px solid currentColor;
	color: #afb1b8;
	fill: currentColor;
	border-radius: 4px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
	
}
.our-client1 {
   
    border-radius: 4px;
}
