.container {
    width: 1200px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*główna nawigacja na stronie*/

header {
    border-bottom: 1px solid #ececec;
}
.header-space {
    display: flex;
    flex-direction: row;
}
.navigations {
    margin: 32px 371px 32px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 46px;
    padding: 0px;
}
.contact-space {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
/*główna część strony*/

.main-heading {
    max-width: 696px;
    margin: 0 auto;
    padding-top: 106px;
    padding-bottom: 30px;
    text-align: center;
    }
.service-button {
    padding: 10px 41px;
    margin-bottom: 106px;
}
.service {
    text-align: center;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.lorem-ipsum {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
.lorem-ipsum-description {
    margin-top: 10px;
    margin-bottom: 0px;
    
}
.what-do-we-do {
    padding-bottom: 94px;
}
.headlines {
    padding-bottom: 50px;
    margin: 0 auto;
}
.index-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 0px;
    margin: 0 auto;
    width: 1170px;
}
.team-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding:0;
    width: 1170px;
    margin: 0 auto;
}
.team-image-display {
    margin:0;
}
img {
    display: block;
    max-width: 100%;
    height: auto; 
}
.team-image-description {
    padding-top: 30px;
}
.team-image-description span {
    padding-top: 10px;
    padding-bottom: 16px;
    text-align: center;
    display: block;
}

/*podstrona-portfolio*/

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 572px;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 34px;
}
.buttons .button {
    padding: 6px 22px;
}
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1170;
    padding: 0;
    margin: 0 auto;
    flex-basis: calc((100%-60px)/3);
}
.image-display {
    padding: 0;
    margin: 0 auto;
}
.image-caption {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.image-caption span {
    padding-top: 4px;
    
    display: block;
}
/*stopka*/

footer {
    display: flex;
    margin: 0 auto;
}
.footer-adress {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin:0px 15px;
}
.bottom-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: flex;
    margin: 60px 15px 20px 15px;
}